In [1]:
import pandas as pd

In [6]:
data = pd.read_excel("Flight_Ticket_Participant_Datasets/Data_Train.xlsx",parse_dates=[1])

In [7]:
data.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,2019-03-24,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,2019-01-05,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,2019-09-06,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882
3,IndiGo,2019-12-05,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,2019-01-03,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302

In [8]:
data.iloc[1,1].isoweekday()

6

In [10]:
from collections import Counter
Counter(data.Airline)

Counter({'IndiGo': 2053,
         'Air India': 1752,
         'Jet Airways': 3849,
         'SpiceJet': 818,
         'Multiple carriers': 1196,
         'GoAir': 194,
         'Vistara': 479,
         'Air Asia': 319,
         'Vistara Premium economy': 3,
         'Jet Airways Business': 6,
         'Multiple carriers Premium economy': 13,
         'Trujet': 1})

In [12]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 11 columns):
Airline            10683 non-null object
Date_of_Journey    10683 non-null datetime64[ns]
Source             10683 non-null object
Destination        10683 non-null object
Route              10682 non-null object
Dep_Time           10683 non-null object
Arrival_Time       10683 non-null object
Duration           10683 non-null object
Total_Stops        10682 non-null object
Additional_Info    10683 non-null object
Price              10683 non-null int64
dtypes: datetime64[ns](1), int64(1), object(9)
memory usage: 918.1+ KB
None

In [16]:
print(Counter(data.Source))
print(Counter(data.Destination))

Counter({'Delhi': 4537, 'Kolkata': 2871, 'Banglore': 2197, 'Mumbai': 697, 'Chennai': 381})
Counter({'Cochin': 4537, 'Banglore': 2871, 'Delhi': 1265, 'New Delhi': 932, 'Hyderabad': 697, 'Kolkata': 381})

In [18]:
print(len(Counter(data.Route)))

129