<a href="https://colab.research.google.com/github/shakeelpatel/ML_Project/blob/master/ITSM.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
!pip install pymysql

Collecting pymysql
  Downloading https://files.pythonhosted.org/packages/ed/39/15045ae46f2a123019aa968dfcba0396c161c20f855f11dea6796bcaae95/PyMySQL-0.9.3-py2.py3-none-any.whl (47kB)
     |████████████████████████████████| 51kB 903kB/s
Installing collected packages: pymysql
Successfully installed pymysql-0.9.3

In [0]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
from sqlalchemy import create_engine

In [0]:
db_host = '18.136.56.185'
dp_port = '3306'
username = 'dm_team'
user_pass = 'dm_team123#'
# db_name = 'project_telecom'


# /* Host: 18.136.56.185
# Port: 3306
# Username : dm_team
# Password: dm_team123#
# */

In [0]:
conn = create_engine('mysql+pymysql://'+username+':'+user_pass+'@'+db_host,echo=True)

In [0]:
import sqlalchemy
sqlalchemy.__version__

'1.3.12'

In [0]:
db= conn.connect()

In [0]:
from sqlalchemy import inspect
inspector = inspect(conn)
schemas = inspector.get_schema_names()

2019-12-21 10:45:40,181 INFO sqlalchemy.engine.base.Engine SHOW schemas
2019-12-21 10:45:40,182 INFO sqlalchemy.engine.base.Engine {}

In [0]:
for schema in schemas:
    print("schema: %s" % schema)
    for table_name in inspector.get_table_names(schema=schema):
        print(table_name)

schema: information_schema
schema: project_itsm
dataset_list

In [0]:
data = pd.DataFrame()
db.execute('USE project_itsm')
data = db.execute('SELECT * FROM dataset_list')

2019-12-21 11:04:43,445 INFO sqlalchemy.engine.base.Engine USE project_itsm
2019-12-21 11:04:43,448 INFO sqlalchemy.engine.base.Engine {}
2019-12-21 11:04:43,501 INFO sqlalchemy.engine.base.Engine SELECT * FROM dataset_list
2019-12-21 11:04:43,502 INFO sqlalchemy.engine.base.Engine {}

In [0]:
data = pd.read_sql_query('SELECT * FROM dataset_list',db)

2019-12-21 11:06:31,365 INFO sqlalchemy.engine.base.Engine SELECT * FROM dataset_list
2019-12-21 11:06:31,368 INFO sqlalchemy.engine.base.Engine {}

In [0]:
data.head()

     CI_Name          CI_Cat  ... No_of_Related_Changes Related_Change
0  SUB000508  subapplication  ...
1  WBA000124     application  ...
2  DTA000024     application  ...
3  WBA000124     application  ...
4  WBA000124     application  ...

[5 rows x 25 columns]

In [0]:
data.to_excel('excel_writer')

ValueError: ignored