<a href="https://colab.research.google.com/github/shakeelpatel/ML_Project/blob/master/ITSM.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
!pip install pymysql

Collecting pymysql
  Downloading https://files.pythonhosted.org/packages/ed/39/15045ae46f2a123019aa968dfcba0396c161c20f855f11dea6796bcaae95/PyMySQL-0.9.3-py2.py3-none-any.whl (47kB)
     |████████████████████████████████| 51kB 1.7MB/s
Installing collected packages: pymysql
Successfully installed pymysql-0.9.3

In [0]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
from sqlalchemy import create_engine

In [0]:

#

In [0]:
conn = create_engine('mysql+pymysql://'+username+':'+user_pass+'@'+db_host,echo=True)

In [7]:
import sqlalchemy
sqlalchemy.__version__

'1.3.12'

In [8]:
db= conn.connect()

2019-12-21 11:20:01,951 INFO sqlalchemy.engine.base.Engine SHOW VARIABLES LIKE 'sql_mode'
2019-12-21 11:20:01,952 INFO sqlalchemy.engine.base.Engine {}
2019-12-21 11:20:02,175 INFO sqlalchemy.engine.base.Engine SHOW VARIABLES LIKE 'lower_case_table_names'
2019-12-21 11:20:02,176 INFO sqlalchemy.engine.base.Engine {}
2019-12-21 11:20:02,616 INFO sqlalchemy.engine.base.Engine SELECT DATABASE()
2019-12-21 11:20:02,617 INFO sqlalchemy.engine.base.Engine {}
2019-12-21 11:20:03,057 INFO sqlalchemy.engine.base.Engine show collation where `Charset` = 'utf8mb4' and `Collation` = 'utf8mb4_bin'
2019-12-21 11:20:03,058 INFO sqlalchemy.engine.base.Engine {}
2019-12-21 11:20:03,280 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS CHAR(60)) AS anon_1
2019-12-21 11:20:03,281 INFO sqlalchemy.engine.base.Engine {}
2019-12-21 11:20:03,502 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS CHAR(60)) AS anon_1
2019-12-21 11:20:03,503 INFO sqlalchemy.engine.base.Engine {}
2019-12-21 11:20:03,724 INFO sqlalchemy.engine.base.Engine SELECT CAST('test collated returns' AS CHAR CHARACTER SET utf8mb4) COLLATE utf8mb4_bin AS anon_1
2019-12-21 11:20:03,725 INFO sqlalchemy.engine.base.Engine {}

In [9]:
from sqlalchemy import inspect
inspector = inspect(conn)
schemas = inspector.get_schema_names()

2019-12-21 11:20:05,722 INFO sqlalchemy.engine.base.Engine SHOW schemas
2019-12-21 11:20:05,723 INFO sqlalchemy.engine.base.Engine {}

In [10]:
for schema in schemas:
    print("schema: %s" % schema)
    for table_name in inspector.get_table_names(schema=schema):
        print(table_name)

schema: information_schema
2019-12-21 11:20:06,285 INFO sqlalchemy.engine.base.Engine SHOW FULL TABLES FROM `information_schema`
2019-12-21 11:20:06,287 INFO sqlalchemy.engine.base.Engine {}
schema: project_itsm
2019-12-21 11:20:06,730 INFO sqlalchemy.engine.base.Engine SHOW FULL TABLES FROM `project_itsm`
2019-12-21 11:20:06,732 INFO sqlalchemy.engine.base.Engine {}
dataset_list

In [11]:
data = pd.DataFrame()
db.execute('USE project_itsm')
data = db.execute('SELECT * FROM dataset_list')

2019-12-21 11:20:08,170 INFO sqlalchemy.engine.base.Engine USE project_itsm
2019-12-21 11:20:08,171 INFO sqlalchemy.engine.base.Engine {}
2019-12-21 11:20:08,395 INFO sqlalchemy.engine.base.Engine SELECT * FROM dataset_list
2019-12-21 11:20:08,396 INFO sqlalchemy.engine.base.Engine {}

In [12]:
data = pd.read_sql_query('SELECT * FROM dataset_list',db)

2019-12-21 11:20:12,269 INFO sqlalchemy.engine.base.Engine SELECT * FROM dataset_list
2019-12-21 11:20:12,272 INFO sqlalchemy.engine.base.Engine {}

In [13]:
data.head()

     CI_Name          CI_Cat  ... No_of_Related_Changes Related_Change
0  SUB000508  subapplication  ...
1  WBA000124     application  ...
2  DTA000024     application  ...
3  WBA000124     application  ...
4  WBA000124     application  ...

[5 rows x 25 columns]

In [0]:
data.to_excel('excel_writer.xls')

In [0]:
from google.colab import files
files.download('excel_writer.xls')

excel_writer.xls  sample_data/