<a href="https://colab.research.google.com/github/shakeelpatel/ML_Project/blob/master/ITSM.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd

In [8]:
pip install pymysql

Collecting pymysql
  Downloading https://files.pythonhosted.org/packages/ed/39/15045ae46f2a123019aa968dfcba0396c161c20f855f11dea6796bcaae95/PyMySQL-0.9.3-py2.py3-none-any.whl (47kB)
     |████████████████████████████████| 51kB 1.6MB/s
Installing collected packages: pymysql
Successfully installed pymysql-0.9.3

In [0]:
import sqlalchemy as db
engine = db.create_engine('mysql+pymysql://dm_team:dm_team123#@18.136.56.185:3306')

In [0]:
from sqlalchemy import inspect

inspector = inspect(engine)

In [12]:
inspector.get_schema_names()

['information_schema', 'project_itsm']

In [0]:
table_name = inspector.get_table_names(schema='project_itsm')

In [20]:
engine.execute('use '+inspector.get_schema_names()[1])

In [0]:
data = pd.read_sql('select * from '+str(inspector.get_table_names(schema='project_itsm')[0]),engine)

In [27]:
data.head()

     CI_Name          CI_Cat  ... No_of_Related_Changes Related_Change
0  SUB000508  subapplication  ...
1  WBA000124     application  ...
2  DTA000024     application  ...
3  WBA000124     application  ...
4  WBA000124     application  ...

[5 rows x 25 columns]